<section class="todoapp">
    <header class="header">
      <h1>Todo list</h1>
      <input class="new-todo" placeholder="Item to add" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
    </header>
    <section class="main" *ngIf="(todos | async)?.length>0">
      <ul class="todo-list">
        <li *ngFor="let todo of (todos | async)" [class.completed]="todo.completed">
          <div class="view">
              <input class="toggle" type="checkbox" (click)="toggleTodoCompleted(todo)" [checked]="todo.completed">
              <label>{{todo.title}}</label>
              <button class="destroy" (click)="deleteTodo(todo)"></button>
          </div>
        </li>
      </ul>
    </section>
    <footer class="footer" *ngIf="(todos | async)?.length>0">
      <span class="todo-count"><strong>{{(todos | async)?.length}}</strong> {{(todos | async)?.length == 1 ? 'item' : 'items'}} left</span>
    </footer>
  </section>
